.content{
    display: none;
}
.content.active{
    display: block;
    padding: 10px;
    border: 1px solid #ccc;
}
.tab.active{
    background: #333;
    color: white;
}
.tab{
    padding: 10px 20px;
    cursor: pointer;
    background-color: #eee;
    border: none;
}
.tabs{
    display: flex;
    gap: 8px;
    margin-bottom: 10px;
}